.modal.fade#loginModal(tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true")
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                button.close(data-dismiss="modal") x
                h3 Enter credentials
            .modal-body
                form(action="/login" method="post")
                    input.form-control(type="text" placeholder="Username" name="username")
                    input.form-control(type="password" placeholder="Password" name="password")
                    p
                        label(for="remember-me")
                            input#remember-me(type="checkbox" name="rememberme")
                            | Remember me
                        button(type="submit")#login.btn.btn-primary.pull-right Login