.modal.fade#loginModal(tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true")
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                button.close(data-dismiss="modal") x
                h3 Enter credentials
            .modal-body
                form
                    input.form-control(type="text" placeholder="Username")
                    input.form-control(type="password" placeholder="Password")
                    p
                        label(for="remember-me")
                            input#remember-me(type="checkbox" value="remember-me")
                            | Remember me
                        button(type="submit")#login.btn.btn-primary.pull-right Login