extends ../layout
block content
    .login-box
        form(action='/forgot-password' method='post')
            input.form-control(type='text' placeholder='Username or Email' name='identifier')
            button(type='submit').btn.btn-primary.btn-block Recover
        