extends ../layout
block content
    .login-box
        form(action='/login' method='post')
            input.form-input(type='text' name='username' placeholder='Username')
            input.form-input(type='password' name='password' placeholder='Password')
            .checkbox            
                label
                    input(type='checkbox' name='rememberme') 
                    | Remember me
            button.btn.btn-primary.btn-block(type='submit') Login
        a(href='/forgot-password') Forgot password?
        a.pull-right(href='/register') Sign up