extends ../layout
block content
    .login-box
        form(action='/recover-password' method='post')
            input.form-control(type='password' placeholder='Password' name='npass')
            input.form-control(type='password' placeholder='Confirm Password' name='cpass')
            input(type='hidden' name='hash' value='#{hash}')
            button(type='submit').btn.btn-primary.btn-block Set Password
        