extends ../layout
block content
    .container
        if error
            .alert.alert-danger
                strong Error:&nbsp;
                | #{error}

        if message
            .alert.alert-success
                strong Success:&nbsp;
                | #{message}