extends layout
block content
    .overlay#dropzone
    .container
        form.torrent-form#torrent-list
            div.torrent-block.torrent-right
                div.torrent-add

    script.
        var categories = !{categories};
    script(src='/js/advUpload.js')