extends layout
block content
    .container
        table
            tbody
                tr
                    th filename
                    td#fname
                tr
                    th size
                    td#fsize
                tr
                    th infohash
                    td#finfo

    script(src="/js/advUpload.js")