.btn.btn-category
    input.category(type='checkbox')
    table.category-table
        tr
            th Type
            th Hentai
            th Language
        tr
            td
                div
                    input(type='checkbox')
                    label anime
                div
                    input(type='checkbox')
                    label drama
                div
                    input(type='checkbox')
                    label manga
                div
                    input(type='checkbox')
                    label software
            td
                div
                    input(type='checkbox')
                    label Hentai
                div
                    input(type='checkbox')
                    label Non-Hentai
            td
                div
                    input(type='checkbox')
                    label English
                div
                    input(type='checkbox')
                    label Raws