footer Contact
script(src='https://code.jquery.com/jquery.js')
script.
    $(document).ready(function() {
        $("#{page}").addClass("active");
        $("[rel=tooltip]").tooltip();
    });
script(src='js/bootstrap.min.js')