footer Contact
script(src="http://code.jquery.com/jquery-2.1.1.min.js")
script(src="/js/bootstrap.min.js")
script.
    $(document).ready(function() {
        $("#{page}").addClass("active");
        $("[rel=tooltip]").tooltip();
    });