footer &copy; Doki Enterprises 2014
script(src='https://code.jquery.com/jquery.js')
script.
    $(document).ready(function() {
        $("#{page}").addClass("active");
        $("[rel=tooltip]").tooltip({ placement: 'left' });
    });
script(src='js/bootstrap.min.js')