footer Contact
script(src='https://code.jquery.com/jquery.js')
script.
    $(document).ready(function() {
        $("#{page}").addClass("active");
        $("[rel=tooltip]").tooltip({ placement: 'left' });
        &("[rel=tooltip-r]").tooltip({ placement: 'right' });
    });
script(src='js/bootstrap.min.js')