extends layout
block content
    .container
        table.Table.table-hov
            tr.Header
                th Fansub Group
                th Tag
                th Website
                th IRC
                th Founded
