.navbar(class=['navbar-default', 'navbar-fixed-top'])
    .container
        .navbar-header
            button.navbar-toggle.collapsed(data-target=".bs-navbar-collapse" data-toggle="collapse" type="button")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') #{title}
        nav.navbar-collapse.bs-navbar-collapse.collapse(role="navigation")
            ul.nav.navbar-nav
                li#upload
                    a(href='/upload') Upload
                li#groups
                    a(href='/groups') Groups
                li#faq
                    a(href='/faq') FAQ
                li#irc
                    a(href='irc://irc.rizon.net/anidex') IRC
                li#rss
                    a(href='/rss') RSS
            ul.navbar-right(class=['nav', 'navbar-nav'])
                li.dropdown
                    a.dropdown-toggle(data-toggle="dropdown") Account
                        span.caret
                    ul.dropdown-menu#account
                        if user
                            li#account
                                a(href='/account') Settings
                            li#logout
                                a.login(href='/logout') Logout
                        else
                            li#signup
                                a(href='/register') Register
                            li#login
                                a.login(href='/login') Login
            form.navbar-right.navbar-form(role='search' action="/")
                .input-group.input-group-sm
                    input.form-control(placeholder='Search', name='q', id='srch-term', type='text')
                    .input-group-btn
                        div.btn-group
                                div.btn-group
                                    button.btn.btn-default.btn-sm.dropdown-toggle.btn(type='button', data-toggle='dropdown')
                                        | Categories&nbsp;
                                        b.caret
                                    ul.dropdown-menu.dropdown-menu-form(role='menu')
                                        li.dropdown-header(role='presentation')
                                        form-field
                                        li.dropdown-header(role='presentation') Type
                                        li(role='presentation')
                                            checkbox
                                                label
                                                    input(type='radio' name='category')
                                                    |&nbsp;&nbsp; Anime
                                        li(role='presentation')
                                            checkbox
                                                label
                                                    input(type='radio' name='category')
                                                    |&nbsp;&nbsp; Manga
                                        li(role='presentation')
                                            checkbox
                                                label
                                                    input(type='radio' name='category')
                                                    |&nbsp;&nbsp; Music
                                        li(role='presentation')
                                            checkbox
                                                label
                                                    input(type='radio' name='category')
                                                    |&nbsp;&nbsp; Literature
                                        li(role='presentation')
                                            checkbox
                                                label
                                                    input(type='radio' name='category')
                                                    |&nbsp;&nbsp; Live Action
                                        li(role='presentation')
                                            checkbox
                                                label
                                                    input(type='radio' name='category')
                                                    |&nbsp;&nbsp; Software
                                        li(role='presentation')
                                            checkbox
                                                label
                                                    input(type='radio' name='category')
                                                    |&nbsp;&nbsp; Other
                                        li(role='presentation')
                                            checkbox
                                                label
                                                    input(type='checkbox' name='category')
                                                    |&nbsp;&nbsp; R18+
                                        li.divider(role='presentation')
                                        li.dropdown-header(role='presentation') Language
                                        li(role='presentation')
                                            checkbox
                                                label
                                                    input(type='radio' name='language')
                                                    |&nbsp;&nbsp; English
                                        li(role='presentation')
                                            checkbox
                                                label
                                                    input(type='radio' name='language')
                                                    |&nbsp;&nbsp; Non-English
                                        li(role='presentation')
                                            checkbox
                                                label
                                                    input(type='radio' name='language')
                                                    |&nbsp;&nbsp; Raws
                                        li.divider(role='presentation')
                                        li.dropdown-header(role='presentation') Filter
                                        li(role='presentation')
                                            checkbox
                                                label
                                                    input(type='checkbox')
                                                    |&nbsp;&nbsp; Re-encodes
                                        li(role='presentation')
                                            checkbox
                                                label
                                                    input(type='checkbox')
                                                    |&nbsp;&nbsp; Unofficial
                            button.btn.btn-default(type='submit').btn-sm
                                i.glyphicon.glyphicon-search