extends layout
block content
    .container
        form
            input.form-control(type="text" placeholder="Username")
            input.form-control(type="text" placeholder="E-Mail")
            input.form-control(type="password" placeholder="Password")
            input.form-control(type="password" placeholder="Confirm Password")
            button(type="submit").btn.btn-primary Register
