extends layout
block content
    .container
        .box
            .header
                h5 News
            .panel-body #{news}
        hr
        .box
            .header
                h5 Torrent Details
            table.tor
                tbody
                    tr
                        td Test
                        td Test


    include modals/login
