extends layout
block content
    .container.container-upload
        .alert.alert-info.alert(role='alert').center
            strong Tracker Announce URL
            div http://anidex.moe:6969/announce
        if message
            if message.type == 1
                .alert.alert-danger.alert-dismissible(role='alert')
                    button.close(data-dismiss='alert', type='button')
                        span(aria-hidden='true') &times;
                        span.sr-only Close
                    strong Error!&nbsp;
                    | #{message.message}
            if message.type == 0
                .alert.alert-success.alert-dismissible(role='alert')
                    button.close(data-dismiss='alert', type='button')
                        span(aria-hidden='true') &times;
                        span.sr-only Close
                    strong Success!&nbsp;
                    | #{message.message}
                    a(href='#{message.link}') #{message.link}
        form(method='post' action='/upload' enctype='multipart/form-data')
            .row
                button.btn.btn-success.btn-xs.pull-right(type='button').disabled
                    span.glyphicon.glyphicon-plus-sign
            include uploadField
            button.btn.btn-primary.btn-sm.pull-right(type='submit') Submit
block scripts
    script(src='/js/upload.js')