extends layout
block content
    .container
        .alert.alert-info(role='alert')
            strong Tracker announce url:
            | http://anidex.moe:6969/announce
        hr
        .box#dropzone(style="height: 500px;")
    script(src='/js/upload.js')