extends layout
block content
    .container
        div.alert.alert-success(role='alert') 
            strong Tracker announce url: 
            | http://anidex.moe:8008/announce
            table.tor
                tbody
                    tr
