extends layout
block content
    .container.upload-inputs
            .alert.alert-warning.alert(role='alert').center
                strong Tracker Announce URL
                .br http://anidex.moe:6969/announce
            .alert.alert-success.alert(role='alert').center
                strong Upload
                table.upload-box
                    tbody
                        tr
                            td
                                .input-group
                                    input.form-control(type='text' placeholder='Torrent name (optional)')
                                    .input-group-btn
                                        span.btn.btn-default.btn-file
                                            | Browse
                                            input(type='file')
                        tr
                            td
                                .input-group
                                    input.form-control(placeholder='Category', name='q', id='srch-term', type='text')
                                    .input-group-btn
                                        div.btn-group
                                            div.btn-group
                                                button.btn.btn-default.dropdown-toggle.btn(type='button', data-toggle='dropdown')
                                                    | Category&nbsp;
                                                    b.caret
                                                ul.dropdown-menu.dropdown-menu-form(role='menu')
                                                    li.dropdown-header(role='presentation')
                                                    form-field
                                                    li.dropdown-header(role='presentation') Type
                                                    li(role='presentation')
                                                        checkbox
                                                            label
                                                                input(type='radio' name='category')
                                                                |&nbsp;&nbsp; Anime
                                                    li(role='presentation')
                                                        checkbox
                                                            label
                                                                input(type='radio' name='category')
                                                                |&nbsp;&nbsp; Manga
                                                    li(role='presentation')
                                                        checkbox
                                                            label
                                                                input(type='radio' name='category')
                                                                |&nbsp;&nbsp; Music
                                                    li(role='presentation')
                                                        checkbox
                                                            label
                                                                input(type='radio' name='category')
                                                                |&nbsp;&nbsp; Literature
                                                    li(role='presentation')
                                                        checkbox
                                                            label
                                                                input(type='radio' name='category')
                                                                |&nbsp;&nbsp; Live Action
                                                    li(role='presentation')
                                                        checkbox
                                                            label
                                                                input(type='radio' name='category')
                                                                |&nbsp;&nbsp; Software
                                                    li(role='presentation')
                                                        checkbox
                                                            label
                                                                input(type='radio' name='category')
                                                                |&nbsp;&nbsp; R18+
                                                    li(role='presentation')
                                                        checkbox
                                                            label
                                                                input(type='radio' name='category')
                                                                |&nbsp;&nbsp; Other
                                                    li.divider(role='presentation')
                                                    li.dropdown-header(role='presentation') Language
                                                    li(role='presentation')
                                                        checkbox
                                                            label
                                                                input(type='radio' name='language')
                                                                |&nbsp;&nbsp; English
                                                    li(role='presentation')
                                                        checkbox
                                                            label
                                                                input(type='radio' name='language')
                                                                |&nbsp;&nbsp; Non-English
                                                    li(role='presentation')
                                                        checkbox
                                                            label
                                                                input(type='radio' name='language')
                                                                |&nbsp;&nbsp; Raws
                        tr
                            td
                                .input-group.upload-inputs
                                    input.form-control(type='text' placeholder='AniDB URL (optional)')
                        tr
                            td
                                .input-group
                                  input.form-control(type='text', placeholder='Hidden?', disabled='true')
                                  span.input-group-addon
                                    input(type='checkbox')
                        tr
                            td
                                .input-group
                                  input.form-control(type='text', placeholder='Anonymous?', disabled='true')
                                  span.input-group-addon
                                    input(type='checkbox')
                        tr
                            td
                                .input-group
                                  input.form-control(type='text', placeholder='Re-encode?', disabled='true')
                                  span.input-group-addon
                                    input(type='checkbox')
                        tr
                            td
                                .form-group
                                   textarea.form-control(type='text', placeholder='Description').description-textarea
                        tr
                            td
                                    span.input-group-btn
                                        button.btn.btn-default(type='button') Submit