extends layout
block content
    .container
        div.alert.alert-info(role='alert') 
            strong Tracker announce url: 
            | http://anidex.moe:6969/announce
            table.tor
                tbody
                    tr
