extends layout
block content
    .container.container-upload
            .alert.alert-warning.alert(role='alert').center
                strong Tracker Announce URL
                div http://anidex.moe:6969/announce
            form
                .panel.panel-default
                    .panel-body
                        button.btn.btn-primary.btn-sm(type='submit') Submit
                        button.btn.btn-success.btn-sm.pull-right(type='button')
                            span.glyphicon.glyphicon-plus-sign
                            | &nbsp;&nbsp;Add
                include uploadField
                include uploadField