extends ../layout
block content    
    .login-box
        h1 Individual
        hr
        a.btn.btn-default.btn-block(href='/upload/individual') Individual
        if user.groups
            h1 Groups
            hr
            for group in user.groups
                a.btn.btn-default.btn-block(href='/upload/#{group.group_id}') #{group.group_name}
        