@media (min-width:768px) {
    .container {
        width:750px;
    }
}

@media (min-width:992px) {
    .container {
        width:970px;
    }
}

@media (min-width:1200px) {
    .container {
        width:1170px;
    }
}

@media (min-width:1600px) {
    .container {
        width:1600px;
    }
}

@font-face {
    font-weight:300;
    font-style:normal;
    font-family:'Ubuntu';
    src:url(/fonts/Ubuntu-L.ttf);
}

@font-face {
    font-weight:400;
    font-style:normal;
    font-family:'Ubuntu';
    src:url(/fonts/Ubuntu-R.ttf);
}

@font-face {
    font-weight:600;
    font-style:normal;
    font-family:'Ubuntu';
    src:url(/fonts/Ubuntu-M.ttf);
}

@font-face {
    font-weight:700;
    font-style:bold;
    font-family:'Ubuntu';
    src:url(/fonts/Ubuntu-B.ttf);
}

body {
    font-family: "Ubuntu", sans-serif;
    padding-top: 70px;
}

.box {
    border: 1px solid #CCC;
    margin: 0px 0px 16px;
    border-radius: 6px;
}

.box > .header {
    background-color: #DDD;
    height: 37px;
    border-bottom: 1px solid #CCC;
    padding: 8px 7px 0px 0px !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.box > .header > h5 {
    padding: 3px 10px 0px 13px !important;
    margin: 0px;
}

.odd {
    background-color: #DDD;
}

.even {
    background-color: #FFF;
}

.badge {
    border-radius: 7px;
    margin-top: 4px;
    padding-top: 2px;
}

.Table {
    padding: 0px 0px;
    width: 100%;
}

.Row {
    width: 100%;
    margin: 0px auto;
}

.tor-name {
    margin: 0px;
    border: 0px none;
    width: auto;
}

/* Please to not write it like this in final release */
/* Agreed - This shit is confusing as hell. We need some kind of standardized CSS to be used across all tables.
However, I don't really know what the convention is! -Holo */
th {
    padding: 2px 4px;
}

td {
    padding: 2px 4px;
}

.tor-cat {
    color: brown;
    width: 64px;
    min-width: 64px;
    padding-left: 5px !important;
    text-align: left;
}

.tor-cat-title {
    width: 64px;
    min-width: 64px;
    padding-left: 5px !important;
    text-align: left;
}

.tor-comment {
    float: right;
    text-align: right;
}

.tor-s {
    text-align: center;
    color: green;
    width: 50px;
    min-width: 50px;
}

.tor-l {
    text-align: center;
    color: red;
    width: 50px;
    min-width: 50px;
}

.tor-c {
    color: purple;
    text-align: center;
    width: 50px;
    min-width: 50px;
}

.tor-age {
    text-align: center;
    width: 100px;
    min-width: 100px;
}

.tor-size {
    text-align: center;
    color: brown;
    width: 100px;
    min-width: 100px;
}

.table-hov > tbody > tr:hover > td {
    background-color: #d9edf7;
}

.tor-d {
    text-align: center;
    width: 50px;
    min-width: 50px;
}

.tor-details {
    padding: 2px 5px;
    vertical-align: top;
}

.tor-empty {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #DDD;
}

.center {
    text-align: center;
}

.brown {
    color: brown;
}

.green {
    color: green;
}

.red {
    color: red;
}

.purple {
    color: purple;
}

.tor > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

a.login {
    cursor: pointer;
}

/*
.checkbox input[type="checkbox"] {
    margin-left: 0px;
}
*/

.form-control {
    margin-bottom: 10px;
}

input#remember-me {
    margin-right: 5px;
    margin-top: 5px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.tright {
    border-top-right-radius: 6px;
}

.tleft {
    border-top-left-radius: 6px;
}

.bleft {
    border-bottom-left-radius: 5px;
}

.bright {
    border-bottom-right-radius: 5px;
}

.hover {
    background-color: #F00;
}
.dropdown-menu > li > a {
    padding: 0px 20px;
}

.form-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)};
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-input:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.anibtn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.anibtn:focus,
.anibtn:active:focus,
.anibtn.active:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

.anibtn-default {
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
    background-image: linear-gradient(to bottom, #FFF 0px, #E0E0E0 100%);
    width: 100%;
}

.anibtn-default:hover,
.anibtn-default:focus,
.anibtn-default:active,
.anibtn-default.active,
.open > .dropdown-toggle.anibtn-default {
    color: #333;
    background-color: #E6E6E6;
    border-color: #ADADAD;
}

.anibtn-default:hover,
.anibtn-default:active,
.anibtn-default.active,
.open > .dropdown-toggle.anibtn-default {
    background-image: none;
}

@media (min-width: 768px) {
    .login-box {
        width: 300px;
    }
}

.login-box {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.checkbox {
    width: 100%;
}

.checkbox > input[type="checkbox"] {
    margin-left: 5px;
    margin-top: 6px;
}

.login-box > form > input[type="text"],
.login-box > form > input[type="password"] {
    margin-bottom: 5px;
}

.checkbox > label {
    width: 100%;
    padding: 2px 0px;
    /*
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid;
    border-color: #CCC;
    background-image: linear-gradient(to bottom, #FFF 0px, #E0E0E0 100%);
    */
    padding-left: 20px;
}

.upload-box {
    text-align: center;
    height: 500px;
    width: 500px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.description-textarea {
    min-height: 180px;
    resize: none;
}

