input.category:checked .category-table {
    display: inline-block;
}

input.category:checked #signup {
    background-color: red;
}

/*
.category-table {
    display: none;
}
*/

.btn.btn-category:hover > table.category-table,
input.category:checked + table.category-table {
    display: inline-block;
    position: relative;
    left: -312px;
    top: 8px;
    border-color: #CCC;
}

table.category-table {
    background-color: #FFF;
    border-color: #CCC;
    border: 1px solid;
    width: 367px;
    text-align: left;
    display: none;
}

table.category-table > tbody {
    width: 100%;
    display: table;
}
table.category-table > tbody > tr > td {
    vertical-align: top;
}