extends ../../layout
block content
    .nav-admin
        ul.nav.nav-pills.nav-stacked                
            li(class=(page === 'settings') ? 'active' : '')
                a(href='settings') Settings
            li.disabled(class=(page === 'messages') ? 'active' : '')
                a(href='messages') Messages
            li(class=(page === 'torrents') ? 'active' : '')
                a(href='torrents') Torrents
            li.disabled(class=(page === 'comments') ? 'active' : '')
                a(href='comments') Comments
            li(class=(page === 'groups') ? 'active' : '')
                a(href='groups') Groups
    .admin-content
        block admin-content